:root{
     --background-color: black;
     --text-color1: white;
     --border-color: yellow;
     --base-variant: white;
}

.darkmode{
     --background-color: white;
     --text-color1: blue;
     --border-color: rgb(179, 0, 179);
     --base-variant: black;

}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

body {
    background-color:var(--background-color);
    color: var(--text-color1);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-height: 100vh;
}

.container {
    border: 4px solid var(--border-color);
    border-radius: 20px;

    padding: 20px 30px;
    max-width: 600px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}


p {
    line-height: 1.4;
    margin: 10px 0 20px 0;
}

.Images {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.Images img {
    width: 200px;
    border-radius: 10px;
    border: 2px solid yellow;
}
