:root{
     --background-color: black;
     --text-color1: white;
     --text-color2: white;
     --border-color: yellow;
     --base-variant: white;
}
.darkmode{
     --background-color: white;
     --text-color1: blue;
     --text-color2: blue;
     --border-color: rgb(179, 0, 179);
     --base-variant: black;
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
body{
    color: var(--text-color1);
    background-color:var(--background-color);
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.perfil{
    text-align: center;
}
p{
    color: var(--text-color2);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid var(--border-color);
    padding: 20px 40px;
    padding: 10px 20px;    
    max-width: 400px;       
    margin: 20px auto;     
    gap: 10px;             
}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contatos{
    display: flex;
    flex-direction: row;
    gap: 40px;           
    margin-top: 20px;
}

.item {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.item img {
    width: 60px;
    height: 60px;
}